body {
    margin: 0;
    padding: 0;
    font-family: Quicksand, sans-serif;
    color: #333;
}

/*
    All CSS code for the navbar and header
*/
header {
    width: 100%;
    height: 100vh;
    /*box-sizing: border-box;*/
    background: url('../images/D-12.jpg');
    background-size: cover;
}

header nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: #333;
    outline: none;
    text-decoration: none;
    font-family: Quicksand, sans-serif;
}
header nav a:hover {
    text-decoration: underline;
}

header nav h1 {
    margin-left: 1em;
    display: flex;
    align-items: center;
    float: left;
    font-size: 1em;
}

header nav ol {
    margin-right: 1em;
    padding: 0;
    display: flex;
    align-items: center;
    float: right;
}

/* Menu button on mobile version */
header nav .dropdown {
    margin-right: 1em;
    padding: 0;
    display: none;
    margin-top: 1.56em;
    float: right;
    font-weight: bold;
}

/* Dropdown menu on mobile version */
.dropdown-content {
    display: none;
    position: fixed;
    margin-top: 6em;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    right: 0;

}
.dropdown-content a {
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
    color: #fff;
}


header nav ol a {
    display: inline;
    padding: 0.5em;
    font-size: 1.05em;
}

#weather {
    
    color: #333;
}

#celciusC {
    font-size: 0.7em;
}

/*
    All CSS code for the navbar and header ENDS here
*/

table {
    display: block;
    border: 1px solid red;
    position: absolute;
    margin-top: 7em;
    margin-left: 1em;
}

table th, td {
    background-color: red;
}

main .title {
    margin-top: 1em;
    color: #333;
    text-align: center;
}

section {
    margin: 1em 5em 3em 5em;
    padding: 0.001em 1em 0.005em 1em;
    background-color: #5F9EA0;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.5);
    
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
    border-radius: 1em;
}

section img {
    width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    #desktopMenu {
        display: none;
    }

    header nav .dropdown {
        display: inline-block;
    }

    .dropdown:hover .dropdown-content {
        display: flex;
        background-color: red;
    }

    #weather {
        padding-left: 0.7em;
        order: -1;
        margin-left: 0.1em;
    }

    section {
        margin: 1.5em;
    }
}

@media (min-width: 1200px) {
    main {
        width: 50%;
        margin: auto;
    }
}
